1. Наличие согласованного ТЗ
2. ТЗ, оформленное в XML, корректное относительно DTD
3. ER диаграмма модели предметной области
4. Скрипты для развертывания системы (описание структуры данных, загрузка данных, необходимых для начала работы )
5. Тестовые данные
6. Для UI вариантов - инструкция по использованию, для API - документация 
7+. При наличии транзакций - их описание
   